::-webkit-scrollbar {
  width: 5px;
}

@media (min-width: 1536px) {
  .first-carousel,
  .categories-lists {
    max-width: 1536px;
  }
}

@media (max-width: 1280px) {
  .first-carousel,
  .categories-lists {
    max-width: 1280px;
  }
}

@media (max-width: 1024px) {
  .first-carousel {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .first-carousel {
    max-width: 768px;
  }
}
@media (max-width: 640px) {
  .first-carousel {
    max-width: 640px;
  }
}
